# CodeAlpha 
## First Task 
## Credit Scoring Model

In [1462]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [1463]:
credit=pd.read_csv('train.csv')
credit.head(9)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8792\3848565866.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  credit=pd.read_csv('train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529544,High_spent_Small_value_payments,312.4940887,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.2802216,Low_spent_Large_value_payments,284.6291625,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.69952126,Low_spent_Medium_value_payments,331.2098629,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580744,Low_spent_Small_value_payments,223.4513097,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.42015309,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.43017233,!@9#%8,340.4792118,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674,Low_spent_Small_value_payments,244.5653167,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.78521651,High_spent_Medium_value_payments,358.1241676,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.2918252,Low_spent_Small_value_payments,470.6906269,Standard

In [1464]:
credit.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

Credit_History_Age – Num_of_Delayed_Payment – Delay_from_due_date -Outstanding_Debt – Credit_Utilization_Ratio –Payment_of_Min_Amount – Monthly_Balance –Credit_Mix – Num_Credit_Inquiries –
Total_EMI_per_month – Num_of_Loan – Num_Credit_Card – Changed_Credit_Limit

In [1465]:

# Define columns to drop
drop_cols = [
    'ID', 'Customer_ID', 'Month', 'Name', 'SSN', 'Age', 'Occupation',
    'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
    'Interest_Rate', 'Type_of_Loan', 'Amount_invested_monthly', 'Payment_Behaviour'
]


# Drop columns
credit = credit.drop(columns=drop_cols)

# Check result
#print("Remaining columns:\n", credit.columns)

In [1466]:
credit.columns

Index(['Num_Credit_Card', 'Num_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [1467]:
credit.head(40)

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
0,4,4,3,7,11.27,4.0,Good,809.98,26.822620,22 Years and 1 Months,No,49.574949,312.4940887,Good
1,4,4,-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,284.6291625,Good
2,4,4,3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,331.2098629,Good
3,4,4,5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,223.4513097,Good
4,4,4,6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,341.489231,Good
5,4,4,8,4,9.27,4.0,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,340.4792118,Good
6,4,4,3,8_,11.27,4.0,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,244.5653167,Good
7,4,4,3,6,11.27,4.0,Good,809.98,23.933795,NaN,No,49.574949,358.1241676,Standard
8,4,1,3,4,5.42,2.0,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,470.6906269,Standard
9,4,1,7,1,7.42,2.0,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,484.5912143,Good
10,1385,1,3,-1,5.42,2.0,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,466.4664764,Standard
11,4,1,3,3_,5.42,2.0,Good,605.03,39.182656,26 Years and 10 Months,No,18.816215,465.6762241,Good
12,4,1,3,1,6.42,2.0,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,444.8670319,Good
13,4,1,3,0,5.42,2.0,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,481.5052619,Good
14,4,1,3,4,5.42,2.0,Good,605.03,31.131702,27 Years and 1 Months,NM,18.816215,464.8806779,Good
15,4,1,3,4,5.42,2.0,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,356.0781086,Good
16,5,3,5,8,7.1,3.0,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992320,1043.315978,Good
17,5,3,13,6,7.1,3.0,Good,1303.01,41.702573,17 Years and 10 Months,No,246.992320,998.8692968,Good
18,5,3,8,7,11.1,NaN,Good,1303.01,26.519815,17 Years and 11 Months,No,246.992320,715.7413674,Good
19,5,3,8,5,9.1,3.0,NaN,1303.01,39.501648,NaN,No,246.992320,426.5134106,Good
20,5,3,10,5,7.1,3.0,Good,1303.01,31.376150,18 Years and 1 Months,No,246.992320,810.7821527,Good
21,5,967,8,6,7.1,3.0,Good,1303.01,39.783993,18 Years and 2 Months,No,246.992320,963.9215811,Good
22,5,3,8,6,7.1,3.0,Good,1303.01,38.068624,18 Years and 3 Months,No,246.992320,968.5555174,Standard
23,5,3,8,6,7.1,3.0,Good,1303.01,38.374753,18 Years and 4 Months,No,246.992320,895.4945832,Standard
24,5,1,0,6,1.99,4.0,Good,632.46,26.544229,17 Years and 3 Months,No,16.415452,433.604773,Standard
25,5,1,5,3,1.99,4.0,Good,632.46,35.279982,17 Years and 4 Months,No,16.415452,409.9518118,Standard
26,5,1,3,9,1.99,4.0,Good,632.46,32.301163,17 Years and 5 Months,NM,16.415452,411.4271229,Standard
27,5,1,7,6,-2.01,4.0,Good,632.46,38.132348,17 Years and 6 Months,No,16.415452,262.4995943,Standard
28,5,1,5,6,-1.01,4.0,Good,632.46,41.154317,17 Years and 7 Months,No,16.415452,359.3749155,Standard
29,5,1,5,6,-3.01,4.0,NaN,632.46,27.445422,17 Years and 8 Months,No,16.415452,419.8807835,Standard
30,5,1,5,NaN,1.99,4.0,Good,632.46,26.056395,17 Years and 9 Months,No,16.415452,443.5499568,Standard
31,5,-100,4,9,1.99,4.0,Good,632.46,27.332515,17 Years and 10 Months,No,16.415452,379.2163811,Standard
32,5,0,5,NaN,2.58,4.0,Standard,943.86,39.797764,30 Years and 8 Months,Yes,0.000000,288.6055223,Standard
33,5,0,9,NaN,2.58,4.0,Standard,943.86,27.020360,30 Years and 9 Months,NM,0.000000,460.8872756,Standard
34,5,-100,5,12,2.58,4.0,Standard,943.86,23.462303,30 Years and 10 Months,Yes,0.000000,392.1922657,Standard
35,5,0,1,15,2.58,4.0,NaN,943.86,28.924954,30 Years and 11 Months,Yes,0.000000,438.5454316,Standard
36,5,0,9,17,2.58,4.0,NaN,943.86,41.776187,31 Years and 0 Months,Yes,0.000000,482.6076383,Standard
37,5,0_,5,15,2.58,4.0,Standard,943.86,29.217556,31 Years and 1 Months,Yes,0.000000,497.6872788,Standard
38,5,0,10,15,2.58,4.0,Standard,943.86,26.263823,31 Years and 2 Months,Yes,0.000000,394.3189339,Standard
39,5,-100,1,15,2.58,4.0,Standard,943.86,25.862922,31 Years and 3 Months,Yes,0.000000,364.0000157,Standard

In [1468]:
credit.dtypes

Num_Credit_Card               int64
Num_of_Loan                  object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [1469]:
print(credit.isnull().sum())

Num_Credit_Card                0
Num_of_Loan                    0
Delay_from_due_date            0
Num_of_Delayed_Payment      7002
Changed_Credit_Limit           0
Num_Credit_Inquiries        1965
Credit_Mix                    24
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          9030
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Monthly_Balance             1200
Credit_Score                   0
dtype: int64

In [1470]:
import pandas as pd
import numpy as np

# List of columns with corrupted numeric values
corrupted_cols = ['Changed_Credit_Limit', 'Num_of_Delayed_Payment', 'Delay_from_due_date']

# Clean each column
for col in corrupted_cols:
    print(f"Cleaning column: {col}")
    # Remove all characters except digits, dot, and minus (negative sign)
    credit[col] = credit[col].astype(str).str.replace(r'[^0-9.\-\_]', '', regex=True)
    # Convert to numeric (invalid values become NaN)
    credit[col] = pd.to_numeric(credit[col], errors='coerce')
credit.head()

Cleaning column: Changed_Credit_Limit
Cleaning column: Num_of_Delayed_Payment
Cleaning column: Delay_from_due_date

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
0,4,4,3,7.0,11.27,4.0,Good,809.98,26.822620,22 Years and 1 Months,No,49.574949,312.4940887,Good
1,4,4,-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,284.6291625,Good
2,4,4,3,7.0,NaN,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,331.2098629,Good
3,4,4,5,4.0,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,223.4513097,Good
4,4,4,6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,341.489231,Good

In [1471]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# Step 1: Define a function to clean corrupted numeric values using regex
def clean_numeric_columns(credit):
    for col in credit.columns:
        # Check if the column contains strings that should be numbers
        if credit[col].astype(str).str.contains(r'\d+_').any():
            credit[col] = credit[col].astype(str).str.extract(r'([-]?\d+\.?\d*)')  # Keep only numeric part
            credit[col] = pd.to_numeric(credit[col], errors='coerce')  # Convert to float
    return credit

# Step 2: Clean corrupted columns
credit = clean_numeric_columns(credit)

# Step 3: Split columns by data type
num_cols = credit.select_dtypes(include=['int64', 'float64']).columns
cat_cols = credit.select_dtypes(include='object').columns

# Step 4: Impute numeric columns with median
num_imputer = SimpleImputer(strategy='median')
credit[num_cols] = num_imputer.fit_transform(credit[num_cols])

# Step 5: Impute categorical columns with most frequent (mode)
cat_imputer = SimpleImputer(strategy='most_frequent')
credit[cat_cols] = cat_imputer.fit_transform(credit[cat_cols])

# Step 6: Check for remaining missing values
print("Remaining missing values:\n", credit.isnull().sum())

Remaining missing values:
 Num_Credit_Card             0
Num_of_Loan                 0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [1472]:
from sklearn.impute import SimpleImputer
# Replace dashes or empty strings with NaN first (if not done earlier)
#credit.replace({'-': np.nan, '_': np.nan, 'NaN': np.nan, 'nan': np.nan, '__': np.nan,'': np.nan,'0_': np.nan,'3_': np.nan,'5_': np.nan,'2_': np.nan,'1_': np.nan,'4_': np.nan,
 #                 '6_': np.nan,'7_': np.nan,'9_': np.nan,'8_': np.nan,'92_': np.nan,'1347_': np.nan,
  #               '1185_': np.nan,'285_': np.nan,'235_': np.nan,'1459_': np.nan,'1320_': np.nan,'630_': np.nan,
   #              '1225_': np.nan,'113_': np.nan,'131_': np.nan,'1311_': np.nan,'1129_': np.nan
    #             },
     #           inplace=True)
# Split columns by data type
#num_cols = credit.select_dtypes(include=['int64', 'float64']).columns
#cat_cols = credit.select_dtypes(include='object').columns
# Impute numeric columns with median
#num_imputer = SimpleImputer(strategy='median')
#credit[num_cols] = num_imputer.fit_transform(credit[num_cols])
# Impute categorical columns with most frequent (mode)
#cat_imputer = SimpleImputer(strategy='most_frequent')
#credit[cat_cols] = cat_imputer.fit_transform(credit[cat_cols])
# Check remaining missing values
#print("Remaining missing values:\n", credit.isnull().sum())

In [1473]:
credit.isnull().sum()

Num_Credit_Card             0
Num_of_Loan                 0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [1474]:
credit.head(100)

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
0,4.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,26.822620,22 Years and 1 Months,No,49.574949,312.494089,Good
1,4.0,4.0,-1.0,14.0,11.27,4.0,Good,809.98,31.944960,15 Years and 11 Months,No,49.574949,284.629163,Good
2,4.0,4.0,3.0,7.0,9.40,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,331.209863,Good
3,4.0,4.0,5.0,4.0,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,223.451310,Good
4,4.0,4.0,6.0,14.0,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6.0,2.0,-1.0,14.0,3.51,3.0,Good,950.36,30.870799,26 Years and 0 Months,No,135.173371,733.053344,Good
96,4.0,3.0,10.0,8.0,5.54,3.0,Standard,179.22,25.649246,26 Years and 10 Months,Yes,124.392082,378.540480,Standard
97,4.0,3.0,10.0,10.0,4.54,3.0,Standard,179.22,29.408775,26 Years and 11 Months,Yes,124.392082,459.524053,Standard
98,4.0,3.0,15.0,11.0,5.54,3.0,Standard,179.22,31.258928,27 Years and 0 Months,NM,124.392082,558.926349,Standard
99,4.0,3.0,10.0,7.0,0.54,3.0,Standard,179.22,27.192587,27 Years and 1 Months,Yes,124.392082,147.433690,Standard

In [1475]:
print(credit['Payment_of_Min_Amount'].unique())

['No' 'NM' 'Yes']

In [1476]:
credit['Payment_of_Min_Amount'] = credit['Payment_of_Min_Amount'].apply(lambda x: 1 if str(x).strip().lower() == 'yes' else 0)

In [1477]:
credit.tail()

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
99995,6.0,2.0,23.0,7.0,11.5,3.0,_,502.38,34.663572,31 Years and 6 Months,0,35.104023,479.866228,Poor
99996,6.0,2.0,18.0,7.0,11.5,3.0,_,502.38,40.565631,31 Years and 7 Months,0,35.104023,496.651610,Poor
99997,6.0,2.0,27.0,6.0,11.5,3.0,Good,502.38,41.255522,31 Years and 8 Months,0,35.104023,516.809083,Poor
99998,6.0,2.0,20.0,14.0,11.5,3.0,Good,502.38,33.638208,31 Years and 9 Months,0,35.104023,319.164979,Standard
99999,6.0,2.0,18.0,6.0,11.5,3.0,Good,502.38,34.192463,31 Years and 10 Months,0,35.104023,393.673696,Poor

In [1478]:
import re
import pandas as pd

def convert_credit_history_age(age_str):
    if pd.isnull(age_str):
        return None
    
    age_str = age_str.lower()
    
    # Match both 'years' and 'months' with different spellings
    years_match = re.search(r'(\d+)\s*(yrs?|years?)', age_str)
    months_match = re.search(r'(\d+)\s*(mons?|months?)', age_str)
    
    years = int(years_match.group(1)) if years_match else 0
    months = int(months_match.group(1)) if months_match else 0

    return years * 12 + months

# Overwrite the original column
credit['Credit_History_Age'] = credit['Credit_History_Age'].apply(convert_credit_history_age)

# Check results
print(credit['Credit_History_Age'].head())

0    265
1    191
2    267
3    268
4    269
Name: Credit_History_Age, dtype: int64

In [1479]:
credit.tail(200)

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
99800,8.0,7.0,44.0,12.0,9.40,2209.0,Bad,3699.44,23.574545,158,1,50.960878,255.731272,Standard
99801,8.0,-100.0,42.0,13.0,21.17,6.0,Bad,3699.44,35.964828,159,1,50.960878,203.430341,Standard
99802,8.0,7.0,42.0,14.0,24.17,6.0,Bad,3699.44,32.684331,160,1,50.960878,231.681762,Standard
99803,8.0,7.0,42.0,15.0,24.17,6.0,Bad,3699.44,31.491509,161,1,50.960878,278.782904,Standard
99804,8.0,7.0,45.0,15.0,24.17,6.0,Bad,3699.44,38.797247,162,1,50.960878,233.280063,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6.0,2.0,23.0,7.0,11.50,3.0,_,502.38,34.663572,378,0,35.104023,479.866228,Poor
99996,6.0,2.0,18.0,7.0,11.50,3.0,_,502.38,40.565631,379,0,35.104023,496.651610,Poor
99997,6.0,2.0,27.0,6.0,11.50,3.0,Good,502.38,41.255522,380,0,35.104023,516.809083,Poor
99998,6.0,2.0,20.0,14.0,11.50,3.0,Good,502.38,33.638208,381,0,35.104023,319.164979,Standard
99999,6.0,2.0,18.0,6.0,11.50,3.0,Good,502.38,34.192463,382,0,35.104023,393.673696,Poor

In [1480]:
print("Unique Credit_Score values BEFORE cleaning:")
print(credit['Credit_Score'].unique())
print(credit['Credit_Mix'].unique())

Unique Credit_Score values BEFORE cleaning:
['Good' 'Standard' 'Poor']
['Good' '_' 'Standard' 'Bad']

In [1481]:
print(credit['Credit_Mix'].unique())
print(credit['Credit_Mix'].value_counts(dropna=False))

['Good' '_' 'Standard' 'Bad']
Credit_Mix
Standard    36503
Good        24338
_           20170
Bad         18989
Name: count, dtype: int64

In [1482]:
credit['Credit_Mix'] = credit['Credit_Mix'].astype(str).str.strip().str.title()
score_map = {
    'Bad': 0,
    'Standard': 1,
    'Good': 2,
    'Nan': -1  # Handles cases where NaN became string 'nan'
}
credit['Credit_Mix'] = credit['Credit_Mix'].map(score_map)

In [1483]:
print(credit['Credit_Mix'].unique())

[ 2. nan  1.  0.]

In [1484]:
credit.head(700)

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
0,4.0,4.0,3.0,7.0,11.27,4.0,2.0,809.98,26.822620,265,0,49.574949,312.494089,Good
1,4.0,4.0,-1.0,14.0,11.27,4.0,2.0,809.98,31.944960,191,0,49.574949,284.629163,Good
2,4.0,4.0,3.0,7.0,9.40,4.0,2.0,809.98,28.609352,267,0,49.574949,331.209863,Good
3,4.0,4.0,5.0,4.0,6.27,4.0,2.0,809.98,31.377862,268,0,49.574949,223.451310,Good
4,4.0,4.0,6.0,14.0,11.27,4.0,2.0,809.98,24.797347,269,0,49.574949,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,8.0,5.0,26.0,22.0,5.52,12.0,0.0,1549.56,24.714192,141,1,214.072123,474.076497,Poor
696,7.0,4.0,1.0,2.0,11.41,3.0,NaN,343.84,36.743155,339,0,34.813970,298.332507,Standard
697,7.0,4.0,1.0,0.0,8.41,3.0,2.0,343.84,39.066408,340,0,34.813970,315.357886,Standard
698,7.0,4.0,1.0,-1.0,8.41,3.0,2.0,343.84,33.494442,341,0,34.813970,322.403143,Standard
699,7.0,4.0,1.0,0.0,8.41,8.0,2.0,343.84,37.716140,342,0,34.813970,299.869500,Standard

In [1485]:
print(credit['Credit_Score'].unique())
print(credit['Credit_Score'].value_counts(dropna=False))

['Good' 'Standard' 'Poor']
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [1486]:
credit['Credit_Score'] = credit['Credit_Score'].astype(str).str.strip().str.title()
credit_score = {
    'Poor': 0,
    'Standard': 1,
    'Good': 2,
    'Nan': -1  # Handles cases where NaN became string 'nan'
}
credit['Credit_Score'] = credit['Credit_Score'].map(score_map)

In [1487]:
credit.head(700)

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
0,4.0,4.0,3.0,7.0,11.27,4.0,2.0,809.98,26.822620,265,0,49.574949,312.494089,2.0
1,4.0,4.0,-1.0,14.0,11.27,4.0,2.0,809.98,31.944960,191,0,49.574949,284.629163,2.0
2,4.0,4.0,3.0,7.0,9.40,4.0,2.0,809.98,28.609352,267,0,49.574949,331.209863,2.0
3,4.0,4.0,5.0,4.0,6.27,4.0,2.0,809.98,31.377862,268,0,49.574949,223.451310,2.0
4,4.0,4.0,6.0,14.0,11.27,4.0,2.0,809.98,24.797347,269,0,49.574949,341.489231,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,8.0,5.0,26.0,22.0,5.52,12.0,0.0,1549.56,24.714192,141,1,214.072123,474.076497,NaN
696,7.0,4.0,1.0,2.0,11.41,3.0,NaN,343.84,36.743155,339,0,34.813970,298.332507,1.0
697,7.0,4.0,1.0,0.0,8.41,3.0,2.0,343.84,39.066408,340,0,34.813970,315.357886,1.0
698,7.0,4.0,1.0,-1.0,8.41,3.0,2.0,343.84,33.494442,341,0,34.813970,322.403143,1.0
699,7.0,4.0,1.0,0.0,8.41,8.0,2.0,343.84,37.716140,342,0,34.813970,299.869500,1.0

In [1488]:
print(credit['Credit_Score'].unique())

[ 2.  1. nan]

In [1489]:
import pandas as pd

# Define a function to remove outliers using IQR
def remove_outliers_iqr(df, columns):
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        # Keep only data within bounds
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

# Select numeric columns
num_cols = credit.select_dtypes(include=['float64', 'int64']).columns.drop('Credit_Score')

# Apply outlier removal
credit_cleaned = remove_outliers_iqr(credit, num_cols)

# Check shape change
print(f"Original shape: {credit.shape}")
print(f"After outlier removal: {credit_cleaned.shape}")

Original shape: (100000, 14)
After outlier removal: (54883, 14)

In [1490]:
print(credit_cleaned['Credit_Score'].unique())
print(credit_cleaned['Credit_Score'].value_counts(dropna=False))

[ 2.  1. nan]
Credit_Score
1.0    30113
NaN    14672
2.0    10098
Name: count, dtype: int64

In [1491]:
credit_cleaned['Credit_Score'].fillna(0, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8792\1556511174.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  credit_cleaned['Credit_Score'].fillna(0, inplace=True)

In [1492]:
print(credit_cleaned['Credit_Score'].value_counts(dropna=False))

Credit_Score
1.0    30113
0.0    14672
2.0    10098
Name: count, dtype: int64

In [1493]:
from imblearn.over_sampling import SMOTE

X = credit_cleaned.drop('Credit_Score', axis=1)
y = credit_cleaned['Credit_Score']
X.head(89)

,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance
0,4.0,4.0,3.0,7.0,11.27,4.0,2.0,809.98,26.822620,265,0,49.574949,312.494089
1,4.0,4.0,-1.0,14.0,11.27,4.0,2.0,809.98,31.944960,191,0,49.574949,284.629163
2,4.0,4.0,3.0,7.0,9.40,4.0,2.0,809.98,28.609352,267,0,49.574949,331.209863
3,4.0,4.0,5.0,4.0,6.27,4.0,2.0,809.98,31.377862,268,0,49.574949,223.451310
4,4.0,4.0,6.0,14.0,11.27,4.0,2.0,809.98,24.797347,269,0,49.574949,341.489231
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,5.0,7.0,22.0,9.0,8.86,6.0,1.0,2602.69,37.169374,111,1,36.548197,254.877726
109,5.0,7.0,23.0,6.0,9.40,6.0,1.0,2602.69,28.570031,112,1,36.548197,242.433064
110,5.0,7.0,21.0,9.0,9.40,9.0,1.0,2602.69,38.465415,191,1,36.548197,264.892872
111,5.0,7.0,23.0,9.0,8.86,9.0,1.0,2602.69,28.815537,114,0,36.548197,264.772051
112,7.0,5.0,16.0,14.0,7.83,5.0,1.0,758.44,37.418209,218,0,101.328637,337.152264

In [1494]:
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

print(y_resampled.value_counts())

c:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:474: FutureWarning: `BaseEstimator._validate_data` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation.validate_data` instead. This function becomes public and is part of the scikit-learn developer API.
  warnings.warn(

Credit_Score
2.0    30113
1.0    30113
0.0    30113
Name: count, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from xgboost import plot_importance

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.metrics import classification_report, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Split the data (using your resampled data)
X_train, X_test, y_train, y_test = train_test_split(
    X_resampled, y_resampled, test_size=0.2, random_state=42, stratify=y_resampled
)

# Define the XGBoost model
xgb = XGBClassifier(
    eval_metric='mlogloss',
    random_state=42,
    n_jobs=-1
)

# Define parameter grid for RandomizedSearchCV
param_dist = {
    'n_estimators': [50, 100, 200, 300],
    'max_depth': [3, 5, 7, 9, 11],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'gamma': [0, 0.1, 0.2, 0.3],
    'reg_alpha': [0, 0.01, 0.1, 1],
    'reg_lambda': [1, 1.5, 2, 3]
}

# Setup RandomizedSearchCV
random_search = RandomizedSearchCV(
    estimator=xgb,
    param_distributions=param_dist,
    n_iter=30,               # Number of parameter settings that are sampled
    scoring='accuracy',
    cv=3,                   # 3-fold cross-validation
    verbose=2,
    random_state=42,
    n_jobs=-1
)

# Fit RandomizedSearchCV on training data
random_search.fit(X_train, y_train)

print("Best parameters found:")
print(random_search.best_params_)

# Use best estimator to predict on test data
best_model = random_search.best_estimator_

Fitting 3 folds for each of 30 candidates, totalling 90 fits
Best parameters found:
{'subsample': 1.0, 'reg_lambda': 1, 'reg_alpha': 0.01, 'n_estimators': 200, 'max_depth': 11, 'learning_rate': 0.2, 'gamma': 0, 'colsample_bytree': 0.8}

In [1498]:
best_model.predict([[4.0,1.0,7.0,1.0,7.42,2.0,2.0,605.03,38.55084843,320,0,18.81621457,484.5912143]])

array([2], dtype=int64)

In [1499]:
best_model.predict([[4.0,4.0,3.0,6.0,11.42,4.0,2.0,809.98,23.9337948,191,0,49.57494921,358.1241676]])

array([1], dtype=int64)